<sbb-expansion-panel
  class="layout-panel-shell"
  color="white"
  size="s"
  [attr.expanded]="expandedAttribute"
>
  <sbb-expansion-panel-header>
    <div class="layout-panel-shell__header">
      <span class="layout-panel-shell__title">{{ panel.title }}</span>

      @if (panel.hidden) {
        <span class="layout-panel-shell__meta">Hidden</span>
      }
    </div>
  </sbb-expansion-panel-header>

  <sbb-expansion-panel-content class="layout-panel-shell__content">
    <div class="layout-panel-shell__body">
      <ng-content></ng-content>
    </div>
  </sbb-expansion-panel-content>
</sbb-expansion-panel>
