<header class="config-shell">
  <div class="config-shell__bar">
    <a class="config-shell__brand" href="/" aria-label="Flatland Dispatcher — start">
      <img class="config-shell__logo" src="/ai4realnet_logo.svg" alt="AI4REALNET" />
      <span class="config-shell__title">
        <span class="config-shell__title-main">Flatland Dispatcher</span>
        <span class="config-shell__title-sub">{{ subtitle }}</span>
      </span>
    </a>

    <span class="config-shell__center">
      <ng-content select="[configCenter]"></ng-content>
    </span>

    <span class="config-shell__spacer"></span>

    <span class="config-shell__slot">
      <sbb-transparent-button
        id="shell-menu-trigger"
        size="m"
        icon-name="hamburger-menu-small">
        Menu
      </sbb-transparent-button>
      <sbb-menu trigger="shell-menu-trigger">
        <ng-content select="[configActions]"></ng-content>
        @if (areaLinks.length) {
          <span class="menu-section">Areas</span>
          @for (link of areaLinks; track link.id) {
            <sbb-menu-link [attr.icon-name]="link.icon" [href]="link.href">{{ link.label }}</sbb-menu-link>
          }
        }
      </sbb-menu>
    </span>
  </div>
</header>
